<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantano Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
            font-family: 'Commissioner', sans-serif;
        }

        h1 {
            margin-bottom: 50px;
            font-size: 34px;
            font-weight: bold;
        }

        h2 {
            font-size: 30px;
        }

        .container {
            padding: 30px;
        }

        .part {
            width: 80%;
            margin: auto;
        }

        p {
            font-size: 20px;
            line-height: 40px;
        }

        a {
            display: inline-block;
            background-color: #1DB954;
            padding: 10px 24px;
            border-radius: 100px;
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            animation-name: shake;
            animation-duration: 1s;
        }

        @keyframes shake {

            10%,
            90% {
                transform: translate3d(-.5px, 0, 0);
            }

            20%,
            80% {
                transform: translate3d(.5px, 0, 0);
            }

            30%,
            50%,
            70% {
                transform: translate3d(-1px, 0, 0);
            }

            40%,
            60% {
                transform: translate3d(1px, 0, 0);
            }
        }
    </style>
</head>

<body>
    <section class="container">
        <h1>Fantano Generator</h1>

        <div class="part">
            <h2>About</h2>
            <p>
                Youtuber Anthony fantano does weekly track roundups in which he rates songs, the idea of this project is
                to
                collect the best rated songs and put them into a Spotify playlist.
            </p>
        </div>
        <div class="part">
            <h2>Get the playlist</h2>
            <p>
                <a href="<%= link %>">Add playlist</a>
            </p>
        </div>
        </div>
    </section>
</body>

</html>